[2020-07-23 10:56] grandchild opened #1 "Default for delete prompt should be [N]o"
If so, the default selection on the "Delete?" prompt should be `N`, not `Y`.
[code]

Should instead be:
[code]

[2020-07-23 11:00] grandchild opened #2 "If branch is checked out it cannot be deleted"
Also, if the branch is equal to a release branch, then it might simply be the newest stuff I'm working on.

The simplest solution might be to not consider the currently checked-out branch for deletion.

Example setup:
[code]

Session:
[code]

[2020-07-23 11:03] grandchild commented on #2
Example setup:
[code]

Session:
[code]

[2020-07-23 17:26] hartwork commented on #1
It was a conscious decision (and inspired by use of apt and portage) but maybe I missed something. Why would you say it's important to have the default be no?

[2020-07-23 18:13] #2 closed

[2020-07-23 18:14] grandchild commented on #1
Not too familiar with apt, but I imagine most of the commands are non-destructive in the sense that even when you uninstall something you can quickly install it again.

After claiming to take safety seriously I feel like a destructive action should be made explicit, like (c)fdisk etc.

But it's a matter of preference and I don't feel too strongly about it.

[2020-07-23 18:19] hartwork commented on #1
I thought about it more — I think you're right, let me flip it around.

[2020-07-23 18:38] #1 closed

[2020-08-04 08:39] grandchild opened #12 "Needs new Git version, should support older Git versions"
Git version on Ubuntu 18 is still 2.17.1

Fails with
[code]

[2020-08-04 08:42] grandchild commented on #12
`--show-current` available in 2.20.0

https://github.com/git/git/blob/74583d89127e21255c12dd3c8a3bf60b497d7d03/Documentation/RelNotes/2.22.0.txt

[2020-08-04 17:54] hartwork commented on #12
That's sad but definitely a valuable report — thank you! :+1:

[2020-08-05 02:10] hartwork commented on #12
Fixed in release 3.1.0 by commit 9e437d2f3fe4e53acf3663806058f8c6e01edbf4, closing.

[2020-08-05 02:10] #12 closed

[2020-08-05 12:10] grandchild opened #13 "Section name in .git/config too cryptic"
I suppose having just `[dmb]` looks nice and clean, and I guess that was the rationale behind choosing that as the section name for the gitconfig.

However, when coming from the other side, namely looking at one's gitconfig and trying to figure out what all these sections and keys are for, it's basically indecipherable, and thus very hard to discover what `[dmb] configured = true` is doing and whe

[2020-08-05 12:11] grandchild commented on #13
It's debatable whether this early in the project history and with (supposedly) this few users, that this would require a "migration" -- deleting the previous `[dmb]` section for existing users and replacing it with the new one.

[2020-08-05 16:33] hartwork commented on #13
Alright, I think you have a point here :+1: I'll do a mayor version bump to reflect that change in API.

[2020-08-05 16:36] hartwork commented on #13
I won't change `.dmb-enabled = true` for now. Let me me know if that's as important to change.

[2020-08-05 16:40] hartwork commented on #13
Released 4.0.0 with a change like that in 04e89680cff703cd992172f2716fe76eb61cf710 just now. Do you consider this fixed?

[2020-08-06 18:18] grandchild commented on #13
I do.

[2020-08-06 18:18] #13 closed

[2020-08-13 14:31] Atrate opened #15 "License"
Hey there!

It would be beneficial if you specified under which license you have released this tool and source code (e.g. GPLv3) or whether you consider it All Rights Reserved.

[2020-08-13 14:35] hartwork commented on #15
Hi!

The code is license under "GPL v3 or later": Every python file header in here has a comment (unless I missed some?) and `setup.py` puts it into the package metadata as well. Which place do you consider missing a statement about the license?

Best, Sebastian

[2020-08-13 15:20] Atrate commented on #15
Doesn't the GPL require for the complete copy of the license to be distributed with the code? E.g. as a LICENSE file.

http://www.gnu.org/licenses/gpl-howto.html

[2020-08-13 15:48] hartwork commented on #15
I have added a license file now. Closing as fixed, please re-open as needed.

[2020-08-13 15:48] #15 closed

[2020-08-14 20:44] swirlingsand opened #16 "Windows: ModuleNotFoundError: No module named '_curses'"
[code]

[2020-08-15 00:00] hartwork commented on #16
Hi @swirlingsand , I have no way of testing this software on Windows myself but there is a chance that `pip install windows-curses` [makes things work](https://github.com/zephyrproject-rtos/windows-curses#background). Can you confirm?

[2020-08-15 13:10] hartwork commented on #16
PS:
- To my current understanding it takes a curses module for Windows (e.g. `windows-curses`) and [enabling VT emulation on Windows](https://stackoverflow.com/a/51681675/11626624)
- https://github.com/wong2/pick/issues/15 could be of interest for alternatives to `windows-curses`
- Also, pick/curses is only used for interactive configuration. Let me know if I should write down how to bypass intera

[2020-08-16 15:13] hartwork commented on #16
https://github.com/wong2/pick/pull/40 got merged now at pick upstream

[2020-08-16 18:33] SuperSandro2000 opened #17 "Name collides with git-extras' script with the same name"
Git Extras has a script which has the same name (https://github.com/tj/git-extras/blob/master/bin/git-delete-merged-branches) but only deleted branches locally. I have both installed and luckily is the the python script before the git-extras in my path. Do you have any idea how to solve this?

[2020-08-16 18:53] hartwork commented on #17
Hi Sandro, nice to meet you!

Have you tried `python -m git_delete_merged_branches`?

[2020-08-16 19:09] hartwork commented on #17
PS: If that^^ doesn't help, adding a second "entrypoint script" named `git-dmb` would also be an option.

[2020-08-16 19:18] SuperSandro2000 commented on #17
It works for me because I have it installed with ``pip --user`` and ``~/.local/bin/`` is preffered in my path but this prevents the module from being packaged in most distros. rg is ripgrep and fd fdfind in most distros.

A good start would be to add this to the readme so that no one gets confused by this.

[2020-08-16 19:24] hartwork commented on #17
I'm happy to extend the readme but I'm not sure yet what about, in particular. Are you suggesting to mention `python -m git_delete_merged_branches` in the readme as a mean to disambiguation or something else?

[2020-08-16 19:35] hartwork commented on #17
Let me draft a change to the readme as a pull request — five minutes

[2020-08-17 00:34] hartwork commented on #17
@SuperSandro2000 thanks a lot for bringing this up and for your review and ideas at #18. I think we're a lot better of with this now. I have just released 5.4.0 with the related changes.

[2020-08-17 00:34] #17 closed

[2020-08-17 10:49] hartwork commented on #16
The [latest release 1.0.0 of pick at PyPI](https://pypi.org/project/pick/#history) is pulling in `windows-curses` by now. I'm closing this bug here as fixed; please feel free to re-open as needed.

[2020-08-17 10:49] #16 closed

[2020-08-17 15:20] quodlibetor opened #20 "Error: substring not found with no context"
I can't find the string "substring not found" in the repo so I'm not sure what might be causing this:

[code]

[2020-08-17 18:00] hartwork commented on #20
Hi @quodlibetor , thanks for taking this to a bug report!
Could you add `--debug` to the mix and share the backtrace that you're being presented? Thank you!

[2020-08-17 18:01] hartwork commented on #20
PS: I'm assuming this is with the latest version 5.4.0?

[2020-08-17 18:34] hartwork commented on #20
PS:
- Can you share your output of `git config --list`? If you censors parts of it, that should be fine.
- Is this one Windows? The current code assumes that `git config --list` output needs to be decoded as UTF-8 and I guess that's biting us here.
- The only other option I see is that there are any lines without an equal sign (`=`) in the output. If `git config --list | fgrep -v =` shows any outp

[2020-08-18 09:11] pwaring opened #21 "Configuration text does not wrap in terminal and is cut off"
I've just installed and run the latest version of git-delete-merged-branches (5.4.0 according to `--version`) and when I run the command for the first time in a repository the text does not wrap at the right side of the terminal and is cut off instead.

Example:

[code]

![image](https://user-images.githubusercontent.com/433556/90493842-c48ab980-e13a-11ea-9088-979a7ef9f536.png)

If I maximise the

[2020-08-18 17:03] hartwork commented on #21
Hi Paul, nice to meet you!

True, that's how https://github.com/wong2/pick — that git-delete-merged-branches currently relies on — works (but I might switch). I agree it's no optimal. Once [Curses](https://en.wikipedia.org/wiki/Curses_(programming_library)) enters the game, wrapping is probably not something we get out of the box. I could try narrower text and more lines. Any other ideas?

[2020-08-18 17:13] hartwork commented on #21
I'm experimenting with a substitute to `pick` that does come with wrapping; stay tuned :smiley:

[2020-08-18 19:05] hartwork commented on #21
I have just released version 6.0.0 with wrapping. Please let me know how it works for you :pray:

[2020-08-18 20:56] quodlibetor commented on #20
Ah found it, I have this line in my config:

[code]

[code]

[2020-08-18 21:02] quodlibetor commented on #20
Updated traceback for 6.0:

[code]

[2020-08-18 21:54] hartwork commented on #20
When I stuff that line into my `.git/config`, it somehow ends up as two lines and causes trouble for me, e.g.:

[code]

[2020-08-18 23:12] hartwork commented on #20
I found out that `git config --list` interprets `\n` that you have in there and turns it into an actual newline!
If we put `bt = !"echo 'A\nB\nC'"` in `.git/config`, `git bt` will show:
[code]
From `man git-config`:

So a line `one = !"echo \nalias.two=hello"` can fool the current parser to believe that a key `alias.two` is set to value `hello` while there is only alias `one` — interesting!

Let m

[2020-08-19 00:25] hartwork commented on #20
@quodlibetor I have just released version 6.0.1 with a fix. Please let me know how it works for you :pray:

[2020-08-19 08:39] pwaring commented on #21
Thanks, that seems to work. It wraps the text, although the wrap can happen at any point during the text so you can end up with things like:

[code]

I don't know if the alternative to pick has an option to wrap on word boundaries - if it does that would be even better (but not essential).

[2020-08-19 11:15] hartwork commented on #21
Thanks for the feedback. I'm using https://github.com/sebageek/clintermission now which uses https://github.com/prompt-toolkit/python-prompt-toolkit under the hood. I think personally, I'm good enough with the current wrapping for now. If you want to research word wrapping in prompt-toolkit more, that would be welcome. I'll close this as fixed for now.

[2020-08-19 11:15] #21 closed

[2020-08-19 14:45] quodlibetor commented on #20
Yes it does indeed work for me, thanks!

[2020-08-19 14:45] #20 closed

[2020-08-19 14:49] hartwork commented on #20
Glad to hear, thanks for the update! :+1:

[2020-09-13 12:14] jack1142 opened #23 "Show the commit header in the list of branches to delete"
It would be very useful, if the "You are about delete 1 local/remote branch(es):" list would show the commit header, similarly to the output of `git branch -v`. Sometimes the branch names don't immediately tell you what that branch contains and showing commit header could quickly help with that issue.

[2020-09-13 14:08] hartwork commented on #23
Hi @jack1142 ,

this would certainly not be too hard to implement but I have concerns that it is the right move: Human attention is limited and if something new eats attention, the rest gets less: Cognitive load is increased for projects with good self-explaining branches without any gain in return. Also, I found `git branch -v` less helpful than branch names themselves in the cases I have seen, b

[2020-09-15 13:51] jack1142 commented on #23
For me, even great branch names lose the information after you haven't done any work with them for a while.

I get the concern of increased cognitive load, but I think that this in reality is only true when you use the tool for the first time as you need to learn what each part of the interface does. Later, your mind will just "automatically" ignore the part of the interfaces it has no use for and

[2020-09-18 10:25] hartwork commented on #23
Thanks for providing more information!  I've been thinking about this more.  `git-delete-merged-branches` works with the assumption that the general case is that you want to remove all merged branches (with regard to all selected target branches) and that you blacklist any branches that you know you want to keep.  If that doesn't cover your case, I would be curious to hear why.  So the display of

[2020-09-18 13:26] jack1142 commented on #23
Yes, I treat it exactly as that. I prefer to put limited trust in the tooling, so I want to be sure that it doesn't do something I don't want it to and if I don't know what the branch it tries to delete is, I need to check it.

IMO, this (keeping branches short-lived) may be easy/easier in a work environment, where you get paid for your time, but it can be a lot more troublesome in open source pro

[2020-09-22 21:13] hartwork commented on #23
Thanks for elaborating further!

Did you see the [notes regarding safety in the readme](https://github.com/hartwork/git-delete-merged-branches#safety)?  Does anything come to mind that could help with trust in this tool for you or others?

So branch names are not easy to improve on in a pull-request flow a variety of contributors, I understand, good point.

Then I guess the question if there is so

[2020-09-22 22:50] jack1142 commented on #23
Yes, I read them and they are partially why I'm using this tool - thanks to how it works, I am sure it won't delete a branch I don't want it to. But that is not the issue here, the issue is that I don't know if I want to delete *that specific branch on the list* because I don't have enough information.

Yep, this is what I'm looking for, I proposed solution that shows data like `git branch -v` bec

[2020-09-24 13:11] hartwork commented on #23
Can you give an example for a reason to keep a merged branch?

The only case that I'm aware of so far is multiple release-like branches e.g. `stable`, `release`, `dev` or so. That's what the exclude feature is for. The set of these branches supposedly rather small and rather static. Is your scenario different?

[2020-09-24 13:19] jack1142 commented on #23
That's what I meant when I said that I put limited trust in tools I use. I don't (yet) trust that squash merge detection doesn't have any issues (I haven't seen any, but this is a rather new tool) and so I always want to confirm that it indeed only removes what it should.

Since this is just another safety measure, maybe it should just be available as a flag then?

[2020-09-24 13:32] hartwork commented on #23
Above^^ you're saying it's the tool and earlier you said it's the branches:

So which is it? Please clarify.

Detection of squash merges is already guarded behind `--effort=3` so it's only active when you ask for it:

[code]

[2020-09-24 14:08] jack1142 commented on #23
I'm sorry, I meant the same thing with both here - I want to be sure that *the tool* doesn't remove *some branch* it shouldn't because of incorrect detection of squash merge (or possibly, although very unlikely, me having *some* reason to not remove it; I don't have anything specific in mind here though).

I do want it to detect squash merges. I don't want it to delete something that wasn't actual

[2020-09-24 14:43] hartwork commented on #23
Okay. Can we agree that adding `git branch -v` is not all positive right now, that we'll close the ticket for now, and that you're free to open a new bug report if you feel need to again in the future? The ticket does not seem actionable to me right now and I would rather not have it sit here open for weeks with an unclear future. What do think?

[2020-09-28 11:25] #23 closed

[2020-09-30 07:19] michaeladler opened #25 "Error: One or more existing target branch is required."
In the following scenario, git-delete-merged-branches refuses to do its work:

**Given:**
* Main branch: foo-1.0.x
* Feature branch: feature/alpha-beta
* Feature branch is fully merged into main branch

**When:**

I execute `git-delete-merged-branches-bug`.

**Then:**

`git-delete-merged-branches-bug` fails with the error message `Error: One or more existing target branch is required.`

**Expected

[2020-09-30 13:01] hartwork commented on #25
Hi Michael, thanks for the detailed report! I was able to reproduce the issue locally. I'm optimistic to have a fix in PyPI by the end of the day. Let's see! :smiley:

[2020-09-30 13:56] hartwork commented on #25
It was the dots (".") in branch name `foo-1.0.x`; see commit 77d60fb9005927452dbeba538b213b2ec5807e98 for a fix. Release 6.0.4 with that fix just hit PyPI.

[2020-10-01 08:43] michaeladler commented on #25
Thanks for the quick fix! Works for me as well.

[2020-10-07 03:22] jameshulse opened #27 "Can't delete remote branches if there is a tag with the same name"
I have run into an issue while deleting remote branches on a large repository. The error during the `git push --delete` command in the console is:
[code]
It turns out there is a branch and tag with the exact same name. I found likely reproduction steps and a resolution while googling: https://dzone.com/articles/git-having-branchtag-same-name

[2020-10-07 13:02] hartwork commented on #27
Hi James, thanks for reporting this issue! I agree with you that it's a bug. I'm optimistic that I'll find time to work on a fix shortly.

[2020-10-07 15:21] hartwork commented on #27
@jameshulse I have released version 6.0.5 with a fix now. Please re-open this ticket as needed.

[2020-10-07 15:21] #27 closed

[2021-03-03 11:21] felix-antony opened #31 "Non-merged branches listed for deletion?"
I was trying to delete remote merged branches, but the script listing non-merged(newly created) branch also for remote delete.  Is there any open issue?  Please help me on this.

[2021-03-03 11:50] hartwork commented on #31
Hi @felix-antony , git-delete-merged-branches is not a script :smiley: I'm happy to help you on- or off-GitHub to diagnose the situation. Without a pile of more details, I won't be able to do much.

[2021-03-03 11:53] hartwork commented on #31
PS: A newline created branch will show up in the list of branches to delete if and only if the branch points to a commit that has been merged into all the required merge targets that you configured. So likely candidates are (a) no new commits on that branch and (b) unintended mis-configuration. Let's find out :smiley:

[2021-03-03 12:54] felix-antony commented on #31
Thanks for your quick reply!
I have create a `test-repo` with default branch `master`, and then `develop` from `master` branch, then created `feature/add-test-feature` branch and `bugfix/fix-emply-lines` branch from `develop` made some commits to those branches, and merged to 'develop` , and then created another custom branch `n-to-merge` branch from develop, but did neither make any commit to thi

[2021-03-03 19:41] hartwork commented on #31
@felix-antony thanks for sharing these details, I'll play with it and investigate and then get back to you.

[2021-03-04 00:24] hartwork commented on #31
Hi @felix-antony, I have followed all your steps in detail by now. The good *and* bad news is that the issue doesn't show here (yet?) — either because (a) you and I are doing slightly different things or (b) because of a difference in version of some dependency of git-delete-merged-branches: Git, Python, etc.

**But** I have turned your description into a Bash script 1:1 and I'll share that script

[2021-03-04 00:26] hartwork commented on #31
Script `git-dmb-issue-31-research.sh`:

[code]

[2021-03-04 00:28] hartwork commented on #31
Output of `git-dmb-issue-31-research.sh` over here:

[code]

[2021-03-04 08:48] felix-antony commented on #31
Thanks for your reply!
Looking at your output,  I don't see expected result since `bugfix/fix-emply-lines` and `feature/add-test-feature` remote branches are not asked for deletion as those are already merged to develop.

**your output was:**
_No local branches deleted.
No remote branches deleted._

Thanks,
Felix

[2021-03-04 12:21] hartwork commented on #31
I know :smiley: You wrote above…

…so that's what I did. No?

That^^ is key here. Please (a) review my script with regard to a match to your description or (b) turn your scenario into a `Dockerfile` so we can rule out differences in third party dependencies and differences in steps taken. Other ideas? What do you think?

[2021-03-09 11:49] hartwork commented on #31
@felix-antony how should we continue? How can I help you make this reproducible?

[2021-03-13 14:41] hartwork commented on #31
@felix-antony I have tried on Debian as well just now, previously on Gentoo. There is no reply for 9 days now and without your participitation this is not going anywhere so I'll close as "not reproducible" for now. If you are still interested, I'm happy to re-open and continue research on this, on or off GitHub. My post above outlines [two different ways forward](https://github.com/hartwork/git-de

[2021-03-13 14:41] #31 closed

[2021-08-13 01:28] jayvdb opened #36 "Preselect master or main for"
Using git-dmb the first time I am shown

With a really long alpha sorted list of branches.  `main` isnt in the first page of results.

If `master` or `main` exist in the list, they should be pre-selected at the top.

[2021-08-13 02:36] jayvdb commented on #36
I am sorry that you didnt like the tone.  fwiw, I never assume that the repo owner would be the person required to build a feature.  I am quite often the person who ends up doing the build of the features I suggest.

`git branch -[dD] <branch-name>` does automatically use `master` or `main` as its reference point for whether another branch is merged or not.

[2021-08-13 02:54] hartwork commented on #36
I tested that assumption locally with Git 2.32.0 and what I observe is that "git branch -d" is not checking for being merged into `master` (or `main`) but for being merged into the _currently checked out branch_. My shell session to reproduce if you like:

[code]

[2021-08-13 03:19] jayvdb commented on #36
The automatic use of `master` or `main` occurs when using git in more sophisticated workflows, esp if other tools like `hub` have been used.

From the manpage for `-d`

If the user has pushed the branch to a remote, `--track` or `--set-upstream-to` will often have been used, and results in extra per-branch settings in `.git/config`.  IIRC git cli has started recommending/forcing users to use those

[2021-08-13 07:29] hauntsaninja opened #37 "Print deleted branch names with `--yes`"
Thanks for the great tool!

Currently, running `git delete-merged-branches --yes` does not actually show you which branches are deleted. Without `--yes`, the confirmation prompt provides this information. The information can be found with `--verbose`, but that's not ergonomic.

[2021-08-13 16:32] hartwork commented on #37
Hi @hauntsaninja , I'm glad you find git-delete-merged-branches useful. May I ask how you heard about it?

You have a point here about reporting deleting branches. I have a candidate implementation in pull request #38 now. This implementation always reports on deleted branches (even without `--yes`), matching `git branch -d` behavior. If it turns out too noisy, I would consider adding a `--quiet`

[2021-08-13 18:43] hauntsaninja commented on #37
I'm not sure how I heard about it, tbh. I had my own bad version of this, which couldn't deal with squashed merges, so I think I just went looking for a better solution.

#38 works great for me, thank you so much!

Possible feedback (totally ignorable, don't feel strongly about):
- Like you say, maybe a little redundant when run without `--yes`, but whatever.
- You mentioned matching `git branch -

[2021-08-13 19:54] #37 closed

[2021-08-13 20:03] hartwork commented on #37
Thanks for sharing, cool that you find out.

Thanks for having a closer look.

I think it's more consistent and self-explaining this way. Let's see if we get reports about it being annoying or so in the next few weeks.

I've been thinking about that aspect a bit as well. Let me think about that more. For now I have merged status quo. PyPI now has version 6.1.0 with that feature.

[2021-08-13 20:08] hauntsaninja commented on #37
Sounds great, thank you!

[2021-08-16 18:05] hartwork commented on #37
@hauntsaninja I thought more about your feedback. The `git branch (-d|-D) <branch>` stdout already includes not only the branch names but the original hashes, so letting that through to the user would add value on the ex-hashes and look familiar.
It would also be in alignment with the stderr of `git push --delete <remote> <branch>` also mentioning deleted branches and going to the user as of today

[2021-08-16 18:18] hauntsaninja commented on #37
Thanks, tried it out and it works great!

[2021-08-16 19:11] hartwork commented on #37
Thanks, it is included with 6.2.0 on PyPI now.

[2021-08-22 16:40] hartwork commented on #36
@jayvdb I have just pushed release 6.3.0 to PyPI including pull request #40 . As a result, for repositories with a **long list of branches** you can now:
- Use keys <kbd>Page Up</kbd>, <kbd>Page Down</kbd>, <kbd>Home</kbd> and <kbd>End</kbd> to navigate the list more precisely
- Do an incremental search by pressing <kbd>/</kbd> (slash, forward search) or <kbd>Ctrl</kbd>+<kbd>R</kbd> (backward sear

[2021-08-22 19:24] SuperSandro2000 opened #43 "Don't delete branches checkout in worktrees"
When branches staged for deletion are checkout in worktrees the command fails and gdmb aborts.

[code]

[2021-08-22 22:37] hartwork commented on #43
Hi @SuperSandro2000 ,

this is the first time I hear of [git-worktree](https://git-scm.com/docs/git-worktree) — is that feature of Git what it's about? At the moment, I consider this an enhancement rather than a bugfix and will research possible options with regard to this feature of Git.

Best, Sebastian

[2021-08-22 22:42] SuperSandro2000 commented on #43
git-worktree allows you to create an extra directory on a different branch which shares the entire .git directory and by this speeds up "cloning" by a lot for big repositories. It is heavily used by nixpkgs-review and myself to work on multiple little projects within nixpkgs at the same time. It is part of the default git installation and requires no extra installation steps. You should already ha

[2021-08-22 22:52] hartwork commented on #43
That matches what I skip-read and understood about it today so far. I just heard about it first today and you're the first asking, so that's why it's not supported in `git-delete-merged-branches`, yet.

[2021-08-23 21:22] hartwork commented on #43
@SuperSandro2000 could you give pull request #43 a spin in your environment to see if the new support for linked working trees works as you would expect?

[2021-12-20 12:12] rnestler opened #49 "I made a package for ArchLinux"
Hi @hartwork
Just wanted to let you know that I packaged this application for ArchLinux on the AUR: https://aur.archlinux.org/packages/git-delete-merged-branches/

[2021-12-20 15:12] hartwork commented on #49
@rnestler cool! One thing I noticed in the packaging is that limiting Python to version >=3.7 seems missing. Out of all the version operators, that one is essential, e.g. see 72e5042615739f85b40ca97fead4c030d267b69b. What do you think?

[2021-12-21 09:10] rnestler commented on #49
@hartwork I actually don't know how to limit the Python version to >=3.7. I mean the only official supported Python version on ArchLinux is 3.10 anyways. 3.6 - 3.9 are only available from the AUR, so I guess it isn't much of a problem in practice. But I'll check if I find out how ArchLinux packages are supposed to specify interpreter version dependencies.

Also 3.6 is end of life in a few days (20

[2021-12-21 15:31] hartwork commented on #49
@rnestler based on https://wiki.archlinux.org/title/PKGBUILD#depends I believe `depends=('python>=3.7' [..])` may be the right syntax. The `python (python35, python38, python36, python37, python310, python311, python39)` at the buttom of https://aur.archlinux.org/packages/git-delete-merged-branches/ just doesn't look right. That list seems to be from AUR packages that also "provide" package `pytho

[2021-12-25 21:46] rnestler commented on #49
OK fixed it. AUR still shows `python (python35, python38, python36, python37, python310, python311, python39)`, but I guess pacman would now complain if one tried to use it with only `python35` installed.

[2021-12-25 22:08] hartwork commented on #49
@rnestler awesome, thanks for going the extra mile! :beers:

I'm unsure if it's worth to extend the readme with a specific line for every distro that has packaging; it would be [Arch and nixOS today](https://repology.org/project/git-delete-merged-branches/versions) but likely more in the future. Do you see strong value in such text or should we close the ticket as information and done now?

[2021-12-26 12:10] rnestler commented on #49
I think there is some value in it. I opened https://github.com/hartwork/git-delete-merged-branches/pull/50 with install instructions for Arch Linux.

[2022-01-02 20:19] hartwork commented on #49
@rnestler thanks again for getting in touch, improving dependencies and the pull request :+1: I'll close the ticket now.

[2022-01-02 20:19] #49 closed

[2022-02-12 19:06] jonringer opened #52 "[Feature Request] Filter branches to be deleted by regex (=inclusion list pattern)"
It would be great to filter the branches to be deleted by a regex.

In nixpkgs, we have a lot of generated `backport-....` branches which manifest in a PR. Eventually these PRs get merged, but often people forget to follow up and delete the branch. This creates a lot of dangling branches which exist in the upstream repo. It would be great for me to pass `--branch-regex 'backport-.*'` to select all

[2022-02-12 20:22] hartwork commented on #52
Hi @jonringer to be sure I understand: Would those `backport-.*` branches be branches to (a) always delete, (b) always keep, (c) be the only branches to inspect, (d) …? I'm not sure I understand the idea yet.

[2022-02-12 20:33] hartwork commented on #52
@jonringer thanks for your reply. I'm still not sure I understand. `git-delete-merged-branches` would find those branches anyway if merged, so then the point would be to exclude all branches that do _not_ match the naming scheme and to save runtime on those?

[2022-02-12 21:08] jonringer commented on #52
It's to mitigate risk of deleting branches which others may care. Essentially not to step on others toes

[2022-02-12 21:20] hartwork commented on #52
@jonringer we currently have `--exclude <branch>` and what you're asking for then is `--include <branch>` but with regex powers added. Let me think about that; with UX in mind and all it's not as trivial as it may sound.

Note to self: `git branch -a '--format=%(refname:lstrip=2)' --list \*/backport-\*`

[2022-02-12 21:29] jonringer commented on #52
Yea, my initial thought process would be to feed in the pattern to pythons regex, and use the matches as a way to filter candidates

[2022-02-12 21:38] hartwork commented on #52
I would like to document possible workarounds:

- a) Mass-exclude all other branches (i.e. flipping inclusion around), e.g. using `git branch` output and a shell loop calling `git config "branch.${branch_name}.dmb-excluded" true` for all non-backport branches. You could run `git-delete-merged-branches --configure` afterwards to validate in the UI that the exclusion list looks sane.
- b) Run withou

[2022-02-13 01:01] jonringer commented on #52
On this scale it's kind of hard to do any manual filtering. Here's some numbers:

[code]
so there's close to 130 branches that I would need to manually exclude. New branches will come and go, so I can't make any assumptions about what branches will be there between runs.

Some merged branches also need to stick around, as there's additional infrastructure which is expecting the branches to exist,

[2022-02-13 01:36] hartwork commented on #52
I'm aware, I suggested an *automated* approach using a shell loop. I can demo the approach if it's not clear. Marking all branches as excluded that do not match the pattern is easy using Bash and the `git config [..]` call mentioned above.

It's big, I know, yes.

Bash automaaaaaaation :smiley:

The exclude feature already handles that.

[2022-02-13 02:00] jonringer commented on #52
For my use case of conservative pruning, this works quite well:
[code]

[2022-06-23 15:16] dennisc9 opened #72 "Error while executing: One or more existing target branch is required."
I keep getting this error while executing this command `git-delete-merged-branches --effort=3`

`Error: One or more existing target branch is required.`

is there a way to reset this so I can get the prompts back?

[2022-06-23 20:21] hartwork commented on #72
Hi @dennisc9 is there a chance to learn more about your environment and why you may be running into this situation?
The second part sounds like you may be looking for the `--configure` argument?

[2022-06-28 15:59] SuperSandro2000 opened #73 "Global branch keep list"
I have the same repository cloned on 3+ machines and work on all of them. Sometimes I delete branches which are technically merged but I would like to keep. I don't know an easy way to sync the .git/config file to all those machines but would it be possible to have a global config with branch names that should always be kept?

[2022-07-14 17:00] hartwork commented on #72
No reply for 3 weeks, closing.

[2022-07-14 17:00] #72 closed

[2022-07-14 19:51] hartwork commented on #73
Hi @SuperSandro2000 ,

to mark a branch as to keep (i.e. to be excluded) internally git-delete-merged-branches does this:
[code]

So if you do the same with `--global` that should work across repositories. What do you think?

Best, Sebastian

[2022-07-16 22:30] hartwork commented on #52
Hi @jonringer ,

There is a pull request #77 now that adds a new command line argument `--include-regex=PATTERN` to implement a regex based inclusion list. Please be invited for testing and/or code review. `pip install -e .` from a Git clone should do, after switching to branch `improve-exclusion-inclusion`.

I believe it's a different level of risk to mass-run `git push -d` from shell than to aut

[2022-07-20 22:28] hartwork commented on #52
@jonringer any chance you could have a look at pull request #77 this week?

[2022-07-29 21:22] #52 closed

[2022-07-29 21:44] hartwork commented on #73
Closing as "answered + no replies for two weeks" as part of housekeeping. Happy to re-open as needed.

[2022-07-29 21:44] #73 closed

[2022-07-30 13:21] SuperSandro2000 commented on #73
Didn't have to much time to try that out. Lets juts hope that the following for all long living nixpkgs branches worked.

``git config --global "branch.staging-next.dmb-excluded" true``

[2022-08-05 10:48] tommy-couzens opened #81 "Can't select branch as merge target"
Hi

Love the idea of this package and have been looking for something like this for a long time!

Unfortunately when I run it, it gives me a selection of which branch as a merge target, and I can scroll down the list using arrows keys, but I can't work out how to select one.

<img width="374" alt="image" src="https://user-images.githubusercontent.com/30808129/183062245-b74c8357-9502-43fb-a2d8-826d

[2022-08-05 21:34] hartwork commented on #81
Hi @tommy-couzens ,

it looks like this over here on GNU/Linux in Yakuake:

![git-dmb-Screenshot_20220805_232242](https://user-images.githubusercontent.com/1577132/183207492-6f2297ab-00a0-4f5c-8b24-cc859bc1aae8.png)

To go forward, please help me understand:
- Does it not show a legend like that^^ for you?
- Does space bar work to toggle selection?
- Which version of the software are you using? Is

[2022-08-08 14:30] tommy-couzens commented on #81
Hello! Thanks for the thorough response

It could not see it before, and now I've discovered it was because I have so many branches it was not shown on screen.

<img width="955" alt="image" src="https://user-images.githubusercontent.com/30808129/183441363-eda589d4-f164-4b20-9645-667d37cc2a34.png">

Expanding my terminal size I can now see it:

<img width="930" alt="image" src="https://user-images.

[2022-08-08 17:35] hartwork commented on #81
@tommy-couzens thanks for the update. Glad to hear that spacebar works for you, in general. Regarding the cut-off, I understand the issue now. Let me play with an idea for a fix.

[2022-08-08 21:10] hartwork commented on #81
@tommy-couzens could you try out pull request #83? To get it running in no time:

[code]

[2022-08-09 16:56] tommy-couzens commented on #81
Hey, thanks for the quick response.

I tried your instructions as above but get the same issue of not being able to see the instructions

I can't see the even if I scroll to the bottom

![image](https://user-images.githubusercontent.com/30808129/183711749-48acae00-4c7a-4706-8d26-6f04cc54cf31.png)

[2022-08-09 20:10] hartwork commented on #81
@tommy-couzens it looks like you're runnng the wrong code on the right repository. I'm not sure yet why that would happen, but this rendering seems unlikely to originate from the new code. My current best guess is that (1) you have installed git-delete-merged-branches somewhere and (2) the shells session has the previous command location hash. Commands that could be of help would be `hash -t git-d

[2022-08-17 15:45] hartwork commented on #81
@tommy-couzens any chance you could give this another shot?

[2022-08-18 18:48] #81 closed

[2022-09-07 11:38] CalebDW opened #84 "[Feature Request] Prompt to update remote branches"
I have an extra remote besides `origin` which has stale `develop`/`master` branches and generates the following message:

[code]

Rather than having to exit the tool, sync the branches, and then rerun the tool, can you please just have the tool prompt to update these branches?

Thanks!

[2022-09-07 13:45] hartwork commented on #84
Hi @CalebDW the situation is a bit tricky because (1) pushing things is a bit far from deleting branches and (2) because if we prompt for things `--yes` would be expected to acknowledge that prompt as well. So while I understand that adding this feature would ease things for some users (including myself) I'm not yet sure if it needs to be part of the tool and if so how to integrate it in a sane wa

[2022-09-08 14:13] CalebDW commented on #84
Thanks for the response @hartwork! You bought up some interesting points I had not thought about...

How about this idea though:
Syncing remotes could be designated a 'risky' feature and `--yes` could be made to answer `No` by default to risky features. However, if desired, `--yes` could be made to answer `Y` either by another switch (such as `--auto-sync-remotes`) or by another switch (such as `-

[2022-09-08 15:04] hartwork commented on #84
Hi @CalebDW maybe something like the `--auto-sync-remotes` you mention could indeed work: like printing the message and hinting about that argument and keeping it out of `--yes` altogether because then there is no prompt and hence nothing to decide upon.
I will need to digest on it a bit more, and also find a name that avoids "sync". Maybe `--push-targets`? `--push-required-targets`? `--push-to-re

[2022-11-25 14:00] telemachus opened #93 "[Feature request] --no-color option?"
Hi. Would you consider a patch for a `--no-color` option?

I'm color blind, and (confusingly enough) the colors make it more difficult for me to read the output in a terminal. (Maybe this goes without saying, but I don't care about the exact name of the option. I'm happy to do whatever you prefer as far as names go.)

[2022-11-25 14:03] telemachus commented on #93
Sorry: after a quick look at the code, I found [this](https://github.com/hartwork/git-delete-merged-branches/blob/master/git_delete_merged_branches/_cli.py#L148-L151):

[code]

I'm going to leave this open since I think it might be nice to document this feature somehow in the `--help` output, but I'm glad to see that it's already there. Thanks.

[2022-11-25 14:33] #93 closed

[2022-11-25 14:37] telemachus opened #94 "Configuration output is truncated (on macOS)?"
On a first run (or later when using `--config`), the output of configuration text seems truncated on the first step:

[code]

In addition, although I have `NO_COLOR` set, I'm still seeing colorized output. When using the tool otherwise, `NO_COLOR` seems to work.

(Thanks for this tool. It looks great.)

[2022-11-25 18:12] ijoseph opened #96 "`Error: not enough values to unpack (expected 2, got 1)`"
Cannot use this on apparently any repository (trying on this one, for example):

[code]

[code]

Environment:
[code]

[2022-11-25 18:45] hartwork commented on #96
Hi @ijoseph could you share the output of `git-dmb --version` and `git-dmb --debug`?

[2022-11-25 18:52] hartwork commented on #94
Hi @telemachus,

I confirm that `NO_COLOR=please git-dmb --configure` will show unexpected color output in that part of the application, that's a bug, true. Are any other parts of the application affected that I am not away of?

The truncation however is not something I could observe or reproduce here. What version of git-delete-merged-branches is this and what else can you share to allow me repro

[2022-11-25 19:20] ijoseph commented on #96
[code]

[code]

[2022-11-25 19:22] ijoseph commented on #96
oh looks like it's mad about my `~/.gitconfig` for some reason 🤔

[2022-11-25 19:23] ijoseph commented on #96
Not pretty, but here it is:

[code]

[2022-11-25 21:03] hartwork commented on #96
Hi @ijoseph,

thanks for sharing that Git config of yours! :+1:  The troublemaker in there turned out to be `alias.bb` that lacks an assignment. My guess is that that can only be cause from manual editing and not from calls to `git config <name> <value>`.

It is unclear to me why Git is serving an arguably malformed entry(?) in `git config --list --null` output but I have prepared a fix to make gi

[2022-11-25 21:22] ijoseph commented on #96
Amazing turnaround; I’ll try to give it a look by the end of today, Pacific
time

On Fri, Nov 25, 2022 at 1:03 PM Sebastian Pipping ***@***.***>
wrote:

[2022-11-25 22:01] telemachus commented on #94
Hi: thanks for the quick reply.

Not that I can see. I tried `--dry-run`, `--help`, and `--yes`, and they seem to respect `NO_COLOR`.

+ git-delete-merged-branches 7.2.0
+ Python 3.10.8
+ macOS 12.6.1
+ iTerm2 Build 3.4.18
+ `echo $TERM` xterm-256color

Both Python and git-delete-merged-branches are installed via MacPorts. However, I created a virtual environment and installed git-delete-merged-br

[2022-11-25 22:16] hartwork commented on #94
Hi @telemachus,

I checked my `$TERM` and it is set to `xterm-256color` as well. All my boxes are flavors of Linux so I cannot test with iTerm2 myself easily, I'm afraid. Could it be that the environment has other variables set that apply here, e.g. `$COLUMNS`? Can you check the output of `printenv`? Any other ideas?

What you're expected to see btw would be something like this (minus the rounded

[2022-11-25 22:21] hartwork commented on #94
PS: @telemachus could you try running the tool in environment with no variables set other than `$PATH`, e.g.:
[code]
?

[2022-11-25 22:31] hartwork commented on #94
PPS: My `env` is of GNU coreutils in case non-Homebrew `env` is BSD-ish and wants different parameters on macOS…

[2022-11-25 23:56] telemachus commented on #94
Here's the output of `printenv`: https://gist.github.com/telemachus/5521c05c9d0a64f19894e89ba15f8553. I don't see anything there that jumps out at me, but maybe you will.

Here's the command with a restricted environment.

[code]

I also tried with Mac's built-in Terminal.app, and I get a similar result (maybe slightly worse?).

[code]

I'll keep looking, but I understand if you close this as "can

[2022-11-26 01:15] hartwork commented on #94
@telemachus thanks for trying and sharing these things. The only thing in the environment I find that I'm not clear about is `__CF_USER_TEXT_ENCODING` :shrug:
I'd be happy to understand and fix this truncation issue, and I have some hope left we may get to that point one way or another. It puzzles me, why you'd be the only user with this behavior on macOS so far (if you are), but there is probably

[2022-11-26 01:21] hartwork commented on #94
PS: @telemachus the part that is truncated is rendered by Python library `prompt-toolkit`. One thing we could try is installing a different version of that library — either more recent or more ancient — and see if it has any impact. Or run one of their [code examples](https://github.com/prompt-toolkit/python-prompt-toolkit/tree/master/examples) (demoed by screenshots in their [gallery](https://pyt

[2022-11-26 02:26] ijoseph commented on #96
Works great!

[code]

More info:

Oh yeah, I see that invalid `bb` alias --  remember planning on making it, then I must have gotten distracted before filling it in. I even remember what I had intended to use it for. I'll just comment that line out for now, anyway. Interesting that it doesn't break `git` itself (I know that some things will in `.gitconfig`).

Yeah, very weird -- I think it's here

[2022-11-26 02:31] telemachus commented on #94
I'll look into this tomorrow and get back to you. Thanks for all the help and suggestions.

[2022-11-26 14:09] #96 closed

[2022-11-26 14:17] hartwork commented on #96
@ijoseph thanks for testing, I have released 7.2.1 with the fix to PyPI just now.

[2022-11-26 17:49] ijoseph commented on #96
Awesome, thanks for going above and beyond! A simple “fix your .gitconfig error” probably would have been totally fair tbh.

[2022-11-26 18:21] hartwork commented on #96
@ijoseph I think it would only have been a matter of time until another user runs into it and it could also be argued that if we're parsing Git output we need to be rubust towards edge cases it may throw at us rather than crashing. I think it was the right call, and I'm glad I learned something. Thanks for the report! :pray:

[2022-11-27 16:12] telemachus commented on #94
So, unfortunately, no joy. I installed `prompt-toolkit` and tried many (not all) of the examples, and I cannot see a problem there. I am going to keep experimenting with my shell's setup. I assume it's something odd at my end.

You are welcome to leave this open for further comments (or Googlers, in case someone else has the issue) or to close it. Either way, if I get more information, I'll post a

[2022-11-27 16:28] hartwork commented on #94
@telemachus okay, let's keep the ticket open, I will drop the " and does not respect NO_COLOR" part from the title in a second since that half is fixed, and will do a release 7.2.2 with the fix shortly — later today with some luck.

[2022-11-27 16:53] hartwork commented on #94
@telemachus 7.2.2 is on PyPI now

[2022-11-27 19:04] telemachus commented on #94
Got it, and the colors are gone now when I run `--config`. Thanks.

[2022-11-28 19:13] ijoseph opened #101 "Sluggish performance to choose branches to keep around on large (4.5k local branches) repo"
On the step
`[2/3] Which of these branches (if any) should be kept around at all times?`

hitting the up and down arrow is very slow, giving a good 1s or more lag between hitting an arrow key and seeing response on the screen:
![out2](https://user-images.githubusercontent.com/549191/204361265-c9d4ba6d-2ebd-4231-a0b7-f111784c507f.gif)

[code]

[2022-11-28 20:25] hasnolen commented on #101
Sounds good! Yeah it’s not critical for me personally at least, because in practice I don’t want it keep around any of those branches, anyway, so I just hit enter. I’ll let you know if I get a shot to profile and look more into it!

[2022-11-28 20:53] ijoseph commented on #101
Sounds good! Yeah it’s not critical for me personally at least, because in practice I don’t want it keep around any of those branches, anyway, so I just hit enter. I’ll let you know if I get a chance to profile and look more into it!